/* h1{
    background-color: rgb(0, 255, 42);
} */
.search-input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 35px;
  max-width: 560px;
  border-bottom: 1px solid lightgray;
}
.search-input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}
.search-input > input:focus {
  outline-width: 0px;
}
.search_inputicon {
  color: grey;
}
.search_button {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  /* justify-content: space-around; */
}
.search_button button {
  margin: 6px;
  padding: 7px 15px;
  border-color: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
  color: #5f6368;
}
.search_button button:hover{
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;

}
.search_buttonhidden{
    display: none !important

}